{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Bienvenue {{ app.user.firstName}} ! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Action Rapide</li> 

        <li>Signaler un incident</li> 

        <li>Carte incident en direct</li>

        <li>Urgences santé</li>
        <li>Médecin/Pharmacie</li>

        <li>Parkings</li>
        <li>Gratuit et Payants</li>

    <a href="{{ path('app_report_new') }}" class="btn btn-lg btn-danger"> Créer un signalement </a>

    <a href="{{ path('app_logout')}}" class="btn btn-lg btn-danger">Se déconnecter</a>
    </ul>
</div>
{% endblock %}
