{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        Action Rapide 

        Signaler un incident 

        Carte incident en direct

        Urgences santé
        Médecin/Pharmacie

        Parkings
        Gratuit et Payants


    </ul>
</div>
{% endblock %}
